<!-- <label>Name:</label>
<input
type="text"
class="form-control"
[(ngModel)]="username">
<p>{{username}}</p>
<button
 [disabled]="check()"
 (click)="RESET()">Click</button> -->
 
 <!-- <app-server>
</app-server>
<app-server>
</app-server>
 -->

<!--  <p> {{"server "}} is working on ID {{ serverId}} with {{serverStatus}} Status</p> -->
<!-- <button [disabled]="ANS"   (click)="onclickserver()" >Press
</button>

<p  *ngIf="test; else noserver ">{{newserver}}</p>

<ng-template #noserver>
	<p>No,Server Is Created!
	</p>
</ng-template> -->

<!-- <label>ADD TEXT</label> -->
<!-- <input
type="text"
class="form-control"
 (input)="showinput($event)" 
> -->
<!-- <input
type="text"
class="form-control"
 [(ngModel)]="Showinput" 
>
<p>{{Showinput}}</p>
 -->

<fa-assignment>
	
</fa-assignment>

